*{
	margin:0;
	padding: 0;
	font-family: "Manrope", sans-serif;
}
.container
{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar
{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo
{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon
{
    width: 25px;
    cursor: pointer;
    display: none;
    }
nav
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
nav ul li a:hover
{
    color: #9c1765;
}

nav .current
{
    color: #9c1765;
}
.row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}
.col-1
{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2
{
    font-size: 54px;
}
.col-1-h3
{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p
{
    font-size: 16px;
    color: #252222;
    font-weight: 100;
}

.col-1 h4
{
    margin: 30px 0;
    font-size: 20px;
}

button
{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #6333C7, #0062D7);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img
{
    width: 30px;
    display: none;
}

button:hover img
{
    display: block;
}
button:hover img
{
    display: block;
}
button:hover
{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after
{
    content:'';
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #6333C7, #0062D7);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2
{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
	}
.col-2 .controller
{
    width: 80%;

}
.color-box
{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#6333C7, #0062D7);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

.add-btn img
{
    width: 125px;
    margin-bottom: 5px;
    
}
.add-btn
{
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
}
.social-links img
{
height: 40px;
margin: 40px;
cursor: pointer;
}
.social-links
{
    text-align: center;
}


@media only screen and (max-width:700px)

{
   
            nav ul
            {
                width: 100%;
                background: linear-gradient(#6333C7, #0062D7);
                position: absolute;
                top: 75px;
                right:0;
                z-index: 2;
                margin-bottom: 50px;
                        }
                nav ul li
                 {
                    display: block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    
                }
                nav ul li a 
                {
                    color: white;
                }
                .menu-icon
                {
                    display: block;
                }
        
                .logo
                {
                    margin-top: 10px ;
                    margin-bottom: 10px;
                }
                .col-1
                {
                    flex-basis: 40%;
                    position: relative;
        }
    
            #menuList
            {
            overflow: hidden;
            transition: 0.5s;
        }
        .row
{
    flex-direction: column-reverse;
    margin: 50px 0;
}
.col-2
{
    flex-basis: 100%;
    margin-bottom: 50px;
}
    .col-2 .controller
    {
        width: 57%;
}
.color-box
{
transform: translateX(75px)
}
.col-1
{
    flex-basis: 100%;
}
.col-1-h2
{
    font-size: 35px;
}
    .col-1-h3
    {
        font-size: 35px;
    
}
    }
            

footer{
    position:relative;
    width: 100%;
    background: linear-gradient(#6333C7, #0062D7);
    min-height: 100px;
    padding: 20px 50px;
    flex-direction: column;

}    

footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}

footer .menu li{
    list-style: none;
}

footer .menu li a{
    font-size: 1em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;

}

footer .menu li a:hover{
    opacity: 1;
    transform: translateY(-10px);
}

.social-links :hover{
    transform: translateY(-10px);
}

footer p{
    color: white;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 0px;
    font-size: 0.8em;

} 

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(docs/assets/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02
{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
